html, body, header, .view {
    height: 100%;
}

body {
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg");

    text-align: center;
    padding: 20px;

    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    animation-name:img-ani;
    animation-duration: 1s;   
    animation-timing-function: ease-in;
}

@keyframes img-ani {
  from{opacity:0;}
  to{opacity: 1;}
}

.jumbotron {
    text-align: center;
    font-size: 75px;
    font: Lucida Grande;
    color: #3399FF;
    opacity: 0.9;
    background-color: #DBE2EC;
}

#processed {
    text-align: center;
    font-size: 35px;
    font: Lucida Grande;
    color: #C1272D;
    font-weight: bold;
}